@brand: #33C3F0;

body { 
  background: url('/dist/f7f357ddd00f0d9cd7309073c48586bb.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-form {
	input, button {
		margin-bottom: 0;
	}
  button {
    @media (max-width: 355px) {
      padding: 0 12px;
    }
  }
  input {
    @media (min-width: 600px) {
    width: 300px;
    }
  }
}
::selection {
  background: @brand; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: @brand; /* Gecko Browsers */
}
.suggestions {
  @media (min-width: 600px) {
  width: 300px;
  }
}
.suggestion {
  @media (min-width: 600px) {
  width: 300px;
  font-family: Raleway, sans-serif;
  }
}
.ui-menu .ui-menu-item-wrapper {
  display: block;
  width: auto;
}
.articles {
  height: auto;
  width: auto;
  padding: 20px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid black;
  color: black;
  border-radius: 4px;
}

a, a:hover {
  text-decoration: none;
} 

ul {
  list-style-type: none;
}

#nothing {
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
}

#content{
  margin-top: 50px;
}

.titles {
  font-weight: bold;
  font-size: 16px;
  color: @brand;
}
